.page-footer {
    background-color: #003a65;
    margin-top: 50px;
    overflow: hidden;
}

/* footer.css */
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.icon {
    padding: 0 5px 0 5px;
    max-height: 35px;
}
